@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

/* Estilos generales para los botones de navegación */
.nav-button {
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3s;
  font-weight: bold;
  color: #fff;
  background-color: #ff4f59;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #ff1d23;
  border: 2px solid #ff1d23;
  color: #fff;
}

/* Alineación de elementos del menú */
.space-x-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Alineación del logo */
.flex.items-center {
  align-items: center;
}

.logo:hover {
  transform: scale(1.1);
}
